body {
  background-image: url(brick.jpg);
  background-size: contain;
}
.logo{
  display: flex;
  flex-wrap: wrap;
  
}
.logo img {
  max-width: 150px;
}

#top {
  background-image: linear-gradient(crimson, rgb(31, 35, 35));
  padding: 5px;
  border: solid;
  border-width: 1px;
  border-radius: 6px;
  width: auto;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
}

#top h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  color: cornsilk;
  margin-top: 45px;
  margin-left: 40%;
}

input[type=text] {
  float: right;
  margin-top: 60px;
  padding: 10px;
  width: 300px;
  border-radius: 6px;
  background-color: rgba(31, 35, 35, 0.688);
  color: wheat;
}

#menu button {
  border: solid;
  border-width: 1px;
  border-radius: 6px;
  padding: 10px;
  width: 300px;
  margin: auto;
  text-align: center;
  background-color: rgba(177, 11, 44, 0.76);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}

#menu td :hover {
  color: wheat;
}

.sidebar a {
  color: black;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: hidden;
  padding-left: 24%;
  padding-right: 24%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#menu {
  border: hidden;
}

#menu a {
  color: black;
  font-family: monospace;
  font-size: 20px;
}

#menu td {
  border: solid;
  border-width: 1px;
  border-radius: 6px;
  padding: 10px;
  width: 6%;
  margin: auto;
  text-align: center;
  background-color: rgba(31, 35, 35, 0.688);
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#resim {
  margin-left: 20%;

}

@media screen and (max-width: 600px) {
  .wrapper {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #yan {
    width: 250px;
  }

  #resim img {
    max-width: fit-content;
    height: auto;
  }
  #resim

  #menu td {
    max-width: 10px;
    height: fit-content;

  }

  #menu button {
    max-width: 90px;
    font-size: small;
  }

  #top h1 {
    margin-left: 10px;
  }

  input[type=text] {
    float: right;
    margin-top: 50px;
    padding: 10px;
    border-radius: 6px;
  }
}

#bölge td {
  margin-left: 100px;
}

.sidebar {
  width: 200px;
  position: absolute;
  height: 100%;
  border: hidden;
  border-radius: 6px;
  text-align: center;
}

/* Sidebar links */
.sidebar li {
  margin-top: 4px;
  display: block;
  color: black;
  text-decoration: none;
  border:  solid;
  box-shadow: 20px 20px 18px rgb(0, 0, 0);
}
/* Active/current link */
.sidebar li.active {
  background-color: #04AA6D;
  color: white;
}


/* Links on mouse-over */
.sidebar li:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    position: relative;
    float: left;
  }

  .sidebar li {
    float: left;
    width: 90px;
    font-size: small;
    margin: 1px;
    border: 1px solid;

  }


}



#yan {
  color: wheat;
  margin-top: 10px;
  max-width: 300px;
  height: fit-content;
  text-align: center;
  padding: 20px;
  background-color: rgba(31, 31, 35, 0.688);
  border-radius: 6px;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  box-shadow: 20px 20px 18px rgb(0, 0, 0);
}

.menuitem {
  border-style: solid;
  border-radius: 6px;
  width: auto;
  padding: 8px;
  margin-top: 5px;
  background-color: rgb(177, 11, 45);

  border: thin;
  font-size: 20px
}
#bottom {
  background-color: rgba(31, 31, 35, 0.688);
  color: black;
  border-radius: 6px;
  max-width: auto;
  margin-left: 300px;
  margin-right: 300px;
  display: flex;
  justify-content: space-evenly;
}
#bottom h3 {
  position: absolute;
  text-align: center;
  font-size: 20px;
  color: wheat;
  background-color: rgba(177, 11, 44, 0.414);
  border: 1px solid;
  box-shadow: 5px 10px 18px rgb(0, 0, 0);
  max-width: fit-content;
  margin: auto;
  border-radius: 10px
}
#bottom p{
  margin-top: 40px;
  background-color: rgba(9, 7, 50, 0.237);
  font-size: 26px;
  font-family:'Courier New', Courier, monospace;
  color: rgb(247, 232, 208);
  padding: 20px;
  
}
#bottom a{
  color: wheat;
}