<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Amino Asitler</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../public/style/store/amino.css'>
    <script src='main.js'></script>
</head>
<body>
    <div>
        <div id="top">
            <input type="text" id="search" placeholder="Aradığınız ürünü giriniz...">
            <div class="logo"> 
                <img src="../../public/images/Logo.png">
                <h1>SettArası</h1>
            </div>

        </div>
        <div id="menu">
            <table>
                <tr>
                    <td class="nav"><button onclick="document.location='../main/index.html'">Ana Sayfa</button></td>
                    <td class="nav"><button onclick="document.location='../main/bolgeler.html'">Bölgeler</button></td>
                    <td class="nav"><button onclick="document.location='../main/magaza.html'">Mağaza</button></td>
                    <td class="nav"><button onclick="document.location='../main/hakkımızda.html'">Hakkmızda</button></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="wrapper">

        <div class="sidebar">
            
            <ul>
                <li class="menuitem"><a href="../main/magaza.html">En Çok Satanlar</a>
                <li class="menuitem"><a href="protein.html">Protein Tozları</a>
                <li class="menuitem"><a href="amino.html">Amino Asitler</a>
                <li class="menuitem"><a href="kilohacim.html">Kilo ve Hacim</a>
                <li class="menuitem"><a href="kreatin.html">Kreatin</a>
                <li class="menuitem"><a href="vitamin.html">Vitaminler</a>
                <li class="menuitem"><a href="atıstırma.html">Sağlıklı Atıştırmalıklar</a>
                <li class="menuitem"><a href="aksesuar.html">Fitness Aksesuarları</a>
            </ul>
        </div>
        <div >
            <div class="ürün">
                <table >
                    <tr>
                        <td><img src="../../public/images/supplements/Amino/kingsize_nutrition_arginine_powder_765_gr_81930.webp"><br><button onclick="document.location='index.html'">Kingsize Nutrition Arginine Powder 765gr</button><p>320TL</p></td>
                        <td><img src="../../public/images/supplements/Amino/kingsize_nutrition_bcaa_glutamine_powder_1000_gr_70077.webp"><br><button onclick="document.location='index.html'">Kingsize Nutrition BCAA Glutamine Powder 1000gr</button><p>1000TL</p></td>
                        <td><img src="../../public/images/supplements/Amino/kingsize_nutrition_iron_dreams_520_gr_70255.webp"><br><button onclick="document.location='index.html'">Kingsize Nutrition İron Dreams 520gr</button><p>1200TL</p></td>
                    </tr>
                    <tr>
                        <td><img src="../../public/images/supplements/Amino/scitec_bcaaglutamine_xpress_600_gr_12341.webp"><br><button onclick="document.location='index.html'">Scitec BCAA Glutamine XPress 600gr</button><p>1400TL</p></td>
                        <td><img src="../../public/images/supplements/Amino/supplementlercom_bcaa_b_complex_120_kapsl_81644.webp"><br><button onclick="document.location='index.html'">Supplementler BCAA B-Complex 120</button><p>1700TL</p></td>
                        <td><img src="../../public/images/supplements/Amino/supplementlercom_glutamine_300_gr_76550.webp"><br><button onclick="document.location='index.html'">Supplementler Glutamine 300gr</button><p>890TL</p></td>
                    </tr>
                    <tr>
                        <td><img src="../../public/images/supplements/Amino/weider_arginine_xplode_500_gr_76611.webp"><br><button onclick="document.location='index.html'">Weider Arginine XPlode 500gr</button><p>1400TL</p></td>
                        <td><img src="../../public/images/supplements/Amino/hardline_bcaa_fusion_500_gr_39343.webp"><br><button onclick="document.location='index.html'">Hardline BCAA Fusion 500gr</button><p>1700TL</p></td>
                        <td><img src="../../public/images/supplements/Amino/olimp_bcaa_xplode_500_gr_7563.webp"><br><button onclick="document.location='index.html'">Olimp BCAA XPlode 500gr</button><p>890TL</p></td>
                    </tr>
                    <tr>
                        <td><img src="../../public/images/supplements/Amino/scitec_amino_5600_200_tablet_8285.webp"><br><button onclick="document.location='index.html'">Scitec Amino 5600 200 Tablet</button><p>1400TL</p></td>
                        <td><img src="../../public/images/supplements/Amino/supplementlercom_arginine_120_kapsl_76606.webp"><br><button onclick="document.location='index.html'">Supplementler Arginine 120 Kapsül</button><p>1700TL</p></td>
                        <td><img src="../../public/images/supplements/Amino/weider_amino_2200_325_tablet_76614.webp"><br><button onclick="document.location='index.html'">Weider Amino 2200 325 Tablet</button><p>890TL</p></td>
                    </tr>
                    <tr>
                        <td><img src="../../public/images/supplements/Amino/reflex_bcaa_intra_fusion_400_gr_20476.webp"><br><button onclick="document.location='index.html'">Reflex BCAA İntra Fusion 400gr</button><p>1400TL</p></td>
                        <td><img src="../../public/images/supplements/Amino/weider_amino_power_liquid_1000_ml_64705.webp"><br><button onclick="document.location='index.html'">Weider Amino Power Liquid 1000ml</button><p>1700TL</p></td>
                        <td><img src="../../public/images/supplements/Amino/weider_premium_bcaa_powder_500_gr_67098.webp"><br><button onclick="document.location='index.html'">Weider Premium BCAA Powder 500gr</button><p>890TL</p></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>