<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sağlıklı Atıştırmalık</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../public/style/store/atıstırma.css'>
    <script src='main.js'></script>
</head>
<body>
    <div>
        <div id="top">
            <input type="text" id="search" placeholder="Aradığınız ürünü giriniz...">
            <div class="logo"> 
                <img src="../../public/images/Logo.png">
                <h1>SettArası</h1>
            </div>

        </div>
        <div id="menu">
            <table>
                <tr>
                    <td class="nav"><button onclick="document.location='../main/index.html'">Ana Sayfa</button></td>
                    <td class="nav"><button onclick="document.location='../main/bolgeler.html'">Bölgeler</button></td>
                    <td class="nav"><button onclick="document.location='../main/magaza.html'">Mağaza</button></td>
                    <td class="nav"><button onclick="document.location='../main/hakkımızda.html'">Hakkmızda</button></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="wrapper">

        <div class="sidebar">
            
            <ul>
                <li class="menuitem"><a href="../main/magaza.html">En Çok Satanlar</a>
                <li class="menuitem"><a href="protein.html">Protein Tozları</a>
                <li class="menuitem"><a href="amino.html">Amino Asitler</a>
                <li class="menuitem"><a href="kilohacim.html">Kilo ve Hacim</a>
                <li class="menuitem"><a href="kreatin.html">Kreatin</a>
                <li class="menuitem"><a href="vitamin.html">Vitaminler</a>
                <li class="menuitem"><a href="atıstırma.html">Sağlıklı Atıştırmalıkl</a>
                <li class="menuitem"><a href="aksesuar.html">Fitness Aksesuarları</a>
            </ul>
        </div>
        <div >
            <div class="ürün">
                <table >
                    <tr>
                        <td><img src="../../public/images/supplements/Atıştırmalık/bahs_fstk_ezmesi_600_gr_82525.webp"><br><button onclick="document.location='index.html'">Bahs Fıstık Ezmesi 600gr</button><p>320TL</p></td>
                        <td><img src="../../public/images/supplements/Atıştırmalık/bellanut_chia_yer_fst_ezmesi_750_gr_55431.webp"><br><button onclick="document.location='index.html'">Bellanut Chia Yer Fıstığı Ezmesi 750gr</button><p>1000TL</p></td>
                        <td><img src="../../public/images/supplements/Atıştırmalık/bellanut_coconey_yer_fst_ezmesi_750_gr_55429.webp"><br><button onclick="document.location='index.html'">Belanut Coconey Yer Fıstığı Ezmesi 750gr</button><p>1200TL</p></td>
                    </tr>
                    <tr>
                        <td><img src="../../public/images/supplements/Atıştırmalık/bellanut_pirin_kremasi_500_gr_70496.webp"><br><button onclick="document.location='index.html'">Bellanut Pirinç Kreması 500gr</button><p>1400TL</p></td>
                        <td><img src="../../public/images/supplements/Atıştırmalık/bellanut_pury_yer_fst_ezmesi_750_gr_55430.webp"><br><button onclick="document.location='index.html'">Bellanut Pury Yer Fıstığı Ezmesi 750gr</button><p>1700TL</p></td>
                        <td><img src="../../public/images/supplements/Atıştırmalık/bellanut_tavuk_baharat_chicken_seasoning_150_gr_42225.webp"><br><button onclick="document.location='index.html'">Bellanut Tavuk Baharatı 150gr</button><p>890TL</p></td>
                    </tr>
                    <tr>
                        <td><img src="../../public/images/supplements/Atıştırmalık/muscle_station_supreme_crunchy_protein_bar_40_gr_49494.webp"><br><button onclick="document.location='index.html'">Muscle Station Supreme Crunchy Protein Bar 40gr</button><p>1400TL</p></td>
                        <td><img src="../../public/images/supplements/Atıştırmalık/muscle_station_supreme_protein_bar_chocolate_chunks_40_gr_24_adet_29135.webp"><br><button onclick="document.location='index.html'">Muscle Station Supreme Protein Bar Chocolate Chunks 40gr</button><p>1700TL</p></td>
                        <td><img src="../../public/images/supplements/Atıştırmalık/nutrever_xtreme_protein_bar_50_gr_24_adet_61043.webp"><br><button onclick="document.location='index.html'">Nutrever Xtreme Protein Bar 50gr 24 Adet</button><p>890TL</p></td>
                    </tr>
                    <tr>
                        <td><img src="../../public/images/supplements/Atıştırmalık/pnar_proteinli_laktozsuz_st_500_ml_12_adet_41428.webp"><br><button onclick="document.location='index.html'">Pınar Proteinli Laktozsuz Süt 500ml 12 Adet</button><p>1400TL</p></td>
                        <td><img src="../../public/images/supplements/Atıştırmalık/rawsome_meyve_bar_40_gr_1_adet_72239.webp"><br><button onclick="document.location='index.html'">Rawsome Meyve Bar 40gr</button><p>1700TL</p></td>
                        <td><img src="../../public/images/supplements/Atıştırmalık/rawsome_protein_bar_40_gr_1_adet_72302.webp"><br><button onclick="document.location='index.html'">Rawsome Protein Bar 40gr</button><p>890TL</p></td>
                    </tr>
                    <tr>
                        <td><img src="../../public/images/supplements/Atıştırmalık/supplementlercom_protein_bar_50_gr_12_adet_82222.webp"><br><button onclick="document.location='index.html'">Supplementler Protein Bar 50gr 12 Adet</button><p>1400TL</p></td>
                        <td><img src="../../public/images/supplements/Atıştırmalık/supplementlercom_protein_gofret_40_gr_12_adet_76567.webp"><br><button onclick="document.location='index.html'">Supplementler Protein Gofret 40gr 12 Adet</button><p>1700TL</p></td>
                        <td><img src="../../public/images/supplements/Atıştırmalık/uniq2go_peanut_xxl_protein_bar_67_gr_12_adet_29500.webpS"><br><button onclick="document.location='index.html'">Uniq2go Peanut XXL Protein Bar 67gr 12 Adet</button><p>890TL</p></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>