<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Vitaminler</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../public/style/store/vitamin.css'>
    <script src='main.js'></script>
</head>
<body>
    <div>
        <div id="top">
            <input type="text" id="search" placeholder="Aradığınız ürünü giriniz...">
            <div class="logo"> 
                <img src="../../public/images/Logo.png">
                <h1>SettArası</h1>
            </div>

        </div>
        <div id="menu">
            <table>
                <tr>
                    <td class="nav"><button onclick="document.location='../../index.html'">Ana Sayfa</button></td>
                    <td class="nav"><button onclick="document.location='../main/bolgeler.html'">Bölgeler</button></td>
                    <td class="nav"><button onclick="document.location='../main/magaza.html'">Mağaza</button></td>
                    <td class="nav"><button onclick="document.location='../main/hakkımızda.html'">Hakkmızda</button></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="wrapper">

        <div class="sidebar">
            
            <ul>
                <li class="menuitem"><a href="../main/magaza.html">En Çok Satanlar</a>
                <li class="menuitem"><a href="protein.html">Protein Tozları</a>
                <li class="menuitem"><a href="amino.html">Amino Asitler</a>
                <li class="menuitem"><a href="kilohacim.html">Kilo ve Hacim</a>
                <li class="menuitem"><a href="kreatin.html">Kreatin</a>
                <li class="menuitem"><a href="vitamin.html">Vitaminler</a>
                <li class="menuitem"><a href="atıstırma.html">Sağlıklı Atıştırmalıklar</a>
                <li class="menuitem"><a href="aksesuar.html">Fitness Aksesuarları</a>
            </ul>
        </div>
        <div >
            <div class="ürün">
                <table >
                    <tr>
                        <td><img src="../../public/images/supplements/Vitamin/hardline_vitamin_mineral_120_tablet_39318.webp"><br><button onclick="document.location='index.html'">HardLine Vitamin Mineral 120 Tablet</button><p>320TL</p></td>
                        <td><img src="../../public/images/supplements/Vitamin/kingsize_nutrition_monster_pak_500_gr_70258.webp"><br><button onclick="document.location='index.html'">KingSize Nutrition Monster Pak 500gr</button><p>1000TL</p></td>
                        <td><img src="../../public/images/supplements/Vitamin/kingsize_nutrition_zma_complex_100_tablet_70267.webp"><br><button onclick="document.location='index.html'">KingSize Nutrition ZMA Complex 100 Tablet</button><p>1200TL</p></td>
                    </tr>
                    <tr>
                        <td><img src="../../public/images/supplements/Vitamin/natures_supreme_coenzyme_q10_100_mg_60_kapsl_15801.webp"><br><button onclick="document.location='index.html'">Natures Supreme Coenzyme 100mg </button><p>1400TL</p></td>
                        <td><img src="../../public/images/supplements/Vitamin/natures_supreme_glucosamine_chondroitin_msm_hyaluronic_acid_120_tablet_14625.webp"><br><button onclick="document.location='index.html'">Natures Supreme Glucosamine Chondroitin MSM Hyaluronic Acid 120 Tablet</button><p>1700TL</p></td>
                        <td><img src="../../public/images/supplements/Vitamin/natures_supreme_milk_thistle_complex_120_kapsl_16239.webp"><br><button onclick="document.location='index.html'">Natures Supreme Milk Thistle Complex 120 Kapsül</button><p>890TL</p></td>
                    </tr>
                    <tr>
                        <td><img src="../../public/images/supplements/Vitamin/natures_supreme_multi_collagen_powder_300_gr_aromasz_49043.webp"><br><button onclick="document.location='index.html'">Natures Supreme Multi Collagen Powder 300gr</button><p>1400TL</p></td>
                        <td><img src="../../public/images/supplements/Vitamin/natures_supreme_multivitamin_for_men_100_kapsl_51680.webp"><br><button onclick="document.location='index.html'">Natures Supreme Multivitamin For Men 100 Kapsül</button><p>1700TL</p></td>
                        <td><img src="../../public/images/supplements/Vitamin/natures_supreme_multivitamin_for_men_60_kapsl_51683.webp"><br><button onclick="document.location='index.html'">Natures Supreme Multivitamin For Men 60 Kapsül</button><p>890TL</p></td>
                    </tr>
                    <tr>
                        <td><img src="../../public/images/supplements/Vitamin/natures_supreme_multivitamin_for_women_100_kapsl_51705.webp"><br><button onclick="document.location='index.html'">Natures Supreme Multivitamin For Women 100 Kapsül</button><p>1400TL</p></td>
                        <td><img src="../../public/images/supplements/Vitamin/natures_supreme_probiotic_5b_60_kapsl_61604.webp"><br><button onclick="document.location='index.html'">Natures Supreme Probiotic 5b 60 Kapsül</button><p>1700TL</p></td>
                        <td><img src="../../public/images/supplements/Vitamin/natures_supreme_omega_3_1000_mg_100_kapsl_20874.webp"><br><button onclick="document.location='index.html'">Natures Supreme Omega 3 1000mg 100 kapsül</button><p>890TL</p></td>
                    </tr>
                    <tr>
                        <td><img src="../../public/images/supplements/Vitamin/natures_supreme_zma_60_kapsl_39301.webp"><br><button onclick="document.location='index.html'">Natures Supreme ZMA  60 Kapsül</button><p>1400TL</p></td>
                        <td><img src="../../public/images/supplements/Vitamin/olimp_vita_mineral_multiple_sport_60_kapsl_12256.webp"><br><button onclick="document.location='index.html'">Olimp Vita Mineral Multiple Sport 60 Kapsül</button><p>1700TL</p></td>
                        <td><img src="../../public/images/supplements/Vitamin/one_up_good_night_melatonin_60_kapsl_67896.webp"><br><button onclick="document.location='index.html'">One Up Night Melatonin 60 Kapsül</button><p>890TL</p></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>