body {
    background-image: url(brick.jpg);
    background-size: contain;
}

.logo {
    display: flex;
    flex-wrap: wrap;

}

.logo img {
    max-width: 150px;
}

#top {
    background-image: linear-gradient(crimson, rgb(31, 35, 35));
    padding: 5px;
    border: solid;
    border-width: 1px;
    border-radius: 6px;
    width: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}

#top h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: cornsilk;
    margin-top: 45px;
    margin-left: 40%;
}

input[type=text] {
    float: right;
    margin-top: 60px;
    padding: 10px;
    width: 300px;
    border-radius: 6px;
    background-color: rgba(31, 35, 35, 0.688);
    color: wheat;
}

#menu button {
    border: solid;
    border-width: 1px;
    border-radius: 6px;
    padding: 10px;
    width: 300px;
    margin: auto;
    text-align: center;
    background-color: rgb(177, 11, 45);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

#menu td :hover {
    color: wheat;
}

#menu {
    border: hidden;
}

#menu a {
    color: black;
    font-family: monospace;
    font-size: 20px;
}

#menu td {
    border: solid;
    border-width: 1px;
    border-radius: 6px;
    padding: 10px;
    width: 6%;
    margin: auto;
    text-align: center;
    background-color: rgb(31, 35, 35);
    opacity: 0.80;

}

/* The side navigation menu */
.sidebar a {
    color: black;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    border: hidden;

}

.sidebar {
    width: 200px;
    position: sticky;
    position: -webkit-sticky;
    top: 5%;
    height: 100%;
    border: hidden;
    border-radius: 6px;
}

/* Sidebar links */
.sidebar li {
    margin-top: 4px;
    display: block;
    color: black;
    text-decoration: none;
    border: solid;
    box-shadow: 20px 20px 18px rgb(0, 0, 0);
}

/* Active/current link */
.sidebar li.active {
    background-color: #04AA6D;
    color: white;
}

/* Links on mouse-over */
.sidebar li:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {

    padding: 1px;
    height: auto;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    #menu td {
        max-width: 10px;
    }

    #menu button {
        max-width: 90px;
    }

    #top h1 {
        margin-left: 10px;
    }

    input[type=text] {
        float: right;
        margin-top: 50px;
        padding: 10px;
        border-radius: 6px;
    }

    .sidebar {
        width: 100%;
        position: relative;
    }

    .sidebar li {
        float: left;
    }

    div.content {
        margin-left: 1px;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar li {
        text-align: center;
        float: none;
    }
}


.wrapper {
    display: flex;
    flex-wrap: wrap;
}



@media screen and (max-width: 700px) {

    #menu td {
        max-width: fit-content;
    }

    #menu button {
        max-width: 90px;
        font-size: small;
    }

    #top h1 {
        margin-left: 10px;
    }

    input[type=text] {
        float: right;
        margin-top: 50px;
        padding: 10px;
        border-radius: 6px;
    }

    .sidebar {
        width: 100%;
        position: relative;
        margin-bottom: 30px;
    }

    .sidebar li {
        float: left;
    }

    div.content {
        margin-left: 1px;
    }

    .ürün {
        width: 300px;
        border: hidden;
        margin-left: 30%;
        margin-top: 10px;
        height: auto;
    }

    .ürün td {
        display: contents;
        border: solid;
        border-radius: 6px;
        width: 10px;
    }

    .ürün img {
        width: 100px;
    }

    .ürün p {
        color: wheat;
        background-color: rgba(31, 35, 35, 0.492);
        border-radius: 10px;
        padding: 4px;
        width: auto;
        box-shadow: 1px 10px 10px rgb(0, 0, 0);
    }

    .ürün button {
        border: 1px solid;
        box-shadow: 1px 10px 10px rgb(0, 0, 0);
        margin-top: 10px;
        border-radius: 6px;
        background-color: rgba(245, 222, 179, 0.793);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: medium;
        color: black;
        text-decoration: none;
    }

}

.ürün {
    display: inline-flex;
    border: hidden;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 10px;
    height: auto;
    max-width:1150px;
}

.ürün img {
    max-width: 170px;
    max-height: 200px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    padding: 5px;
    border: 1px hidden;
    box-shadow: 1px 10px 10px rgb(0, 0, 0);
}

.ürün button {
    border: 1px solid;
    box-shadow: 1px 10px 10px rgb(0, 0, 0);
    margin-top: 10px;
    border-radius: 6px;
    background-color: rgba(245, 222, 179, 0.793);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    color: black;
    text-decoration: none;
}

.ürün td {
    border: solid;
    border-width: 1px;
    border-radius: 6px;
    padding: 20px;
    width: 6%;
    text-align: center;
    background-color: rgba(177, 11, 44, 0.504);
    box-shadow: 20px 20px 18px rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.ürün p {
    color: wheat;
    background-color: rgba(31, 35, 35, 0.492);
    border-radius: 10px;
    padding: 8px;
    width: auto;
    box-shadow: 1px 10px 10px rgb(0, 0, 0);
}

.ürün tr {
    padding: 2px;
}

.menuitem {
    border-style: solid;
    border-radius: 6px;
    width: auto;
    padding: 8px;
    margin-top: 5px;
    background-color: rgb(177, 11, 45);
    border: thin;
    font-size: 20px;
    text-align: center;
}

.menuitem {
    border-style: solid;
    border-radius: 6px;
    width: auto;
    padding: 8px;
    margin-top: 5px;
    background-color: rgb(177, 11, 45);
    border: thin;
    font-size: 20px;
    text-align: center;
}

.menuitem a {
    text-decoration: none;
    color: black;
}