<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Oblik</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../public/style/muscles/oblik.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='main.js'></script>
</head>
<body>
    <div>
        <div id="top">
            <input type="text" id="search" placeholder="Aradığınız ürünü giriniz...">
            <div class="logo"> 
                <img src="../../public/images/Logo.png">
                <h1>SettArası</h1>
            </div>
        </div>
        <div id="menu">
            <table>
                <tr>
                    <td class="nav"><button onclick="document.location='../../index.html'">Ana Sayfa</button></td>
                    <td class="nav"><button onclick="document.location='../main/bolgeler.html'">Bölgeler</button></td>
                    <td class="nav"><button onclick="document.location='../main/magaza.html'">Mağaza</button></td>
                    <td class="nav"><button onclick="document.location='../main/hakkımızda.html'">Hakkmızda</button></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="content">

        <div class="sidebar">
            <ul>
                <li class="menuitem"><a href="trapez.html">Trapez</a>
                <li class="menuitem"><a href="omuz.html">Omuz</a>
                <li class="menuitem"><a href="biceps.html">Biceps</a>
                <li class="menuitem"><a href="forearm.html">Forearm</a>
                <li class="menuitem"><a href="gogus.html">Göğüs</a>
                <li class="menuitem"><a href="karın.html">Karın</a>
                <li class="menuitem"><a href="oblik.html">Oblik</a>
                <li class="menuitem"><a href="quad.html">Quad</a>
                <li class="menuitem"><a href="calf.html">Calf</a>
                <li class="menuitem"><a href="üstsırt.html">Üst Sırt</a>
                <li class="menuitem"><a href="lats.html">Lats</a>
                <li class="menuitem"><a href="altsırt.html">Alt Sırt</a>
                <li class="menuitem"><a href="glutes.html">Glutes</a>
                <li class="menuitem"><a href="hamstring.html">Hamstring</a>
            </ul>
        </div>
        <div>
            <div class="ürün">
                <ul>
                    <li>
                        <div class="wrapper">
                            <img src="../../public/images/exercises/Oblik/00041301-Air-Twisting-Crunch_waist_360.gif">
                            <div id="yan">
                                <a href="">Twisting Crunch</a>
                                <p>Hedef Bölge : Karın ve Oblik</p>
                                <p>Verim:
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star "></span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="wrapper">
                            <img src="../../public/images/exercises/Oblik/05071301-Jackknife-Sit-Up_waist_360.gif">
                            <div id="yan">
                                <a href="">V-Up</a>
                                <p>Hedef Bölge : Karın ve Oblik</p>
                                <p>Verim:
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star "></span>
                                    <span class="fa fa-star"></span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="wrapper">
                            <img src="../../public/images/exercises/Oblik/06351301-Oblique-Crunches-Floor_waist_360.gif">
                            <div id="yan">
                                <a href="">Oblique Cross Crunch</a>
                                <p>Hedef Bölge : Karın ve Oblik</p>
                                <p>Verim:
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="wrapper">
                            <img src="../../public/images/exercises/Oblik/08501301-Weighted-Side-Bend-on-stability-ball_Waist_360.gif">
                            <div id="yan">
                                <a href="">Weighted Side Bend</a>
                                <p>Hedef Bölge : Karın ve Oblik</p>
                                <p>Verim:
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="wrapper">
                            <img src="../../public/images/exercises/Oblik/Oblique Crunches.gif">
                            <div id="yan">
                                <a href="">Oblique Crunches</a>
                                <p>Hedef Bölge : Karın ve Oblik</p>
                                <p>Verim:
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star "></span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="wrapper">
                            <img src="../../public/images/exercises/Oblik/Russian-Twist.gif">
                            <div id="yan">
                                <a href="">Russian Twist</a>
                                <p>Hedef Bölge : Karın ve Oblik</p>
                                <p>Verim:
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="wrapper">
                            <img src="../../public/images/exercises/Oblik/Side-Plank-Oblique-Crunch.gif">
                            <div id="yan">
                                <a href="">Side Plank Oblique Crunch</a>
                                <p>Hedef Bölge : Karın ve Oblik</p>
                                <p>Verim:
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>