<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Üst sırt</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../public/style/muscles/triceps.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src='main.js'></script>
</head>
<body>
    <div>
        <div id="top">
            <input type="text" id="search" placeholder="Aradığınız ürünü giriniz...">
            <div class="logo"> 
                <img src="../../public/images/Logo.png">
                <h1>SettArası</h1>
            </div>
        </div>
        <div id="menu">
            <table>
                <tr>
                    <td class="nav"><button onclick="document.location='../main/index.html'">Ana Sayfa</button></td>
                    <td class="nav"><button onclick="document.location='../main/bolgeler.html'">Bölgeler</button></td>
                    <td class="nav"><button onclick="document.location='../main/magaza.html'">Mağaza</button></td>
                    <td class="nav"><button onclick="document.location='../main/hakkımızda.html'">Hakkmızda</button></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="content">

        <div class="sidebar">
            <ul>
                <li class="menuitem"><a href="trapez.html">Trapez</a>
                <li class="menuitem"><a href="omuz.html">Omuz</a>
                <li class="menuitem"><a href="biceps.html">Biceps</a>
                <li class="menuitem"><a href="forearm.html">Forearm</a>
                <li class="menuitem"><a href="gogus.html">Göğüs</a>
                <li class="menuitem"><a href="karın.html">Karın</a>
                <li class="menuitem"><a href="oblik.html">Oblik</a>
                <li class="menuitem"><a href="quad.html">Quad</a>
                <li class="menuitem"><a href="calf.html">Calf</a>
                <li class="menuitem"><a href="üstsırt.html">Üst Sırt</a>
                <li class="menuitem"><a href="lats.html">Lats</a>
                <li class="menuitem"><a href="altsırt.html">Alt Sırt</a>
                <li class="menuitem"><a href="glutes.html">Glutes</a>
                <li class="menuitem"><a href="hamstring.html">Hamstring</a>
            </ul>
        </div>
        <div>
            <div class="ürün">
                <ul>
                    <li>
                        <div class="wrapper">
                            <img src="../../public/images/exercises/ustSırt/3b19fd3ba0efec4c4021d3a58dbdba91.gif">
                            <div id="yan">
                                <a href="">Seated Cable Row</a>
                                <p>Hedef Bölge : Üst Sırt</p>
                                <p>Verim:
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="wrapper">
                            <img src="../../public/images/exercises/ustSırt/02921301-Dumbbell-Bent-over-Row_back_Back_360.gif">
                            <div id="yan">
                                <a href="">Dumbbel Bent Over Row</a>
                                <p>Hedef Bölge : Üst Sırt</p>
                                <p>Popülerlik:
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="wrapper">
                            <img src="../../public/images/exercises/ustSırt/Barbell-Bent-Over-Row.gif">
                            <div id="yan">
                                <a href="">Barbell Row</a>
                                <p>Hedef Bölge : Üst Sırt</p>
                                <p>Popülerlik:
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="wrapper">
                            <img src="../../public/images/exercises/ustSırt/Bent-Over-Dumbbell-Row.gif">
                            <div id="yan">
                                <a href="">Bent Over Dumbbell Row</a>
                                <p>Hedef Bölge : Üst Sırt</p>
                                <p>Popülerlik:
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="wrapper">
                            <img src="../../public/images/exercises/ustSırt/Machine Row.gif">
                            <div id="yan">
                                <a href="">Machine Row</a>
                                <p>Hedef Bölge : Üst Sırt</p>
                                <p>Popülerlik:
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="wrapper">
                            <img src="../../public/images/exercises/ustSırt/pendlay-row.gif">
                            <div id="yan">
                                <a href="">Pendlay Row</a>
                                <p>Hedef Bölge : Üst Sırt</p>
                                <p>Popülerlik:
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="wrapper">
                            <img src="../../public/images/exercises/ustSırt/T-Bar-Row.gif">
                            <div id="yan">
                                <a href="">T-Bar Row</a>
                                <p>Hedef Bölge : Üst Sırt</p>
                                <p>Popülerlik:
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>