<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Mağaza</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../public/style/main/magaza.css'>
    <script src='main.js'></script>
</head>

<body>
    <nav>
        <header id="top">
            <input type="text" id="search" placeholder="Aradığınız ürünü giriniz...">
            <div class="logo">
                <img src="../../public/images/Logo.png">
                <h1>SettArası</h1>
            </div>

        </header>
        <div id="menu">
            <table>
                <tr>
                    <td class="nav"><button onclick="document.location='index.html'">Ana Sayfa</button></td>
                    <td class="nav"><button onclick="document.location='bolgeler.html'">Bölgeler</button></td>
                    <td class="nav"><button onclick="document.location='magaza.html'">Mağaza</button></td>
                    <td class="nav"><button onclick="document.location='hakkımızda.html'">Hakkmızda</button></td>
                </tr>
            </table>
        </div>
    </nav>
    <main>
        <div class="wrapper">

            <nav class="sidebar">
                <ul>
                    <li class="menuitem"><a href="magaza.html">En Çok Satanlar</a>
                    <li class="menuitem"><a href="../store/protein.html">Protein Tozları</a>
                    <li class="menuitem"><a href="../store/amino.html">Amino Asitler</a>
                    <li class="menuitem"><a href="../store/kilohacim.html">Kilo ve Hacim</a>
                    <li class="menuitem"><a href="../store/kreatin.html">Kreatin</a>
                    <li class="menuitem"><a href="../store/vitamin.html">Vitaminler</a>
                    <li class="menuitem"><a href="../store/atıstırma.html">Sağlıklı Atıştırmalıklar</a>
                    <li class="menuitem"><a href="../store/aksesuar.html">Fitness Aksesuarları</a>
                </ul>
            </nav>
            <article>
                <div class="ürün">
                    <table>
                        <tr>
                            <td><img
                                    src="../../public/images/supplements/Protein/bigjoy-sports-doypack-big-whey-classic-protein-tozu-16-servis.webp"><br><button
                                    onclick="document.location='index.html'">BigJou Whey Clasic Protein Tozu 16
                                    Servis</button>
                                <p>320TL</p>
                            </td>
                            <td><img src="../../public/images/supplements/Protein/bigwhey-classic-protein-tozu-2376gr.webp"><br><button
                                    onclick="document.location='index.html'">BigWhey Classic Protein Tozu
                                    2376gr</button>
                                <p>1000TL</p>
                            </td>
                            <td><img
                                    src="../../public/images/supplements/Protein/bodymax-isolate-whey-protein-tozu-2040-gr-68-servis-cikolata.webp"><br><button
                                    onclick="document.location='index.html'">BodyMax Isolate Whey Protein Tozu
                                    2350gr</button>
                                <p>1200TL</p>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="../../public/images/supplements/Protein/Gold Standart Protein.avif"><br><button
                                    onclick="document.location='index.html'">Optimum Nutrition Whey Protein
                                    Tozu</button>
                                <p>1400TL</p>
                            </td>
                            <td><img src="../../public/images/supplements/Protein/optimum-nutrition-gold-standard-whey-2273-gr-z.avif"><br><button
                                    onclick="document.location='index.html'">Optimum Nutrition Gold Standart Whey
                                    2273gr</button>
                                <p>1700TL</p>
                            </td>
                            <td><img
                                    src="../../public/images/supplements/Protein/scitec_whey_professional_whey_protein_2350_gr_69028.webp"><br><button
                                    onclick="document.location='index.html'">Scitec Whey Professional Whey Protein
                                    2350gr</button>
                                <p>890TL</p>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="../../public/images/supplements/Protein/supplementlercom_whey_protein_2000_gr_76555.webp"><br><button
                                    onclick="document.location='index.html'">Supplementler whey Protein 2000gr</button>
                                <p>1400TL</p>
                            </td>
                            <td><img src="../../public/images/supplements/Protein/Weider.jpg"><br><button
                                    onclick="document.location='index.html'">Weider Preimium Whey Protein
                                    2300gr</button>
                                <p>1700TL</p>
                            </td>
                            <td><img src="../../public/images/supplements/Protein/Whey Protein.webp"><br><button
                                    onclick="document.location='index.html'">Protein Ocean Whey Protein 400gr</button>
                                <p>890TL</p>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="../../public/images/supplements/Protein/whey-kurabiye.webp"><br><button
                                    onclick="document.location='index.html'">Con Last Whey Protein </button>
                                <p>1400TL</p>
                            </td>
                            <td><img src="../../public/images/supplements/Protein/image_3840.webp"><br><button
                                    onclick="document.location='index.html'">NowUp Nutrition Whey Protein</button>
                                <p>1700TL</p>
                            </td>
                            <td><img
                                    src="../../public/images/supplements/Protein/west-nutrition-whey-protein-tozu-bcaa-kreatin-3600-paketi.webp"><br><button
                                    onclick="document.location='index.html'">West Nutrition Whey Protein</button>
                                <p>890TL</p>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="../../public/images/supplements/Protein/volumutech-2400-cilek-protein-tozu-600x600.jpg"><br><button
                                    onclick="document.location='index.html'">VolumeTech Whey Protein 2400gr</button>
                                <p>1400TL</p>
                            </td>
                            <td><img src="../../public/images/supplements/Protein/whey-1000-beyaz-1080x1080.jpg"><br><button
                                    onclick="document.location='index.html'">Torq Nutrition Whey Protein 1000gr</button>
                                <p>1700TL</p>
                            </td>
                            <td><img
                                    src="../../public/images/supplements/Protein/navy-plus-nutrition-whey-protein-tozu-416-gr-wlq8y.jpg"><br><button
                                    onclick="document.location='index.html'">Navy Plus Nutrition Whey Protein Tozu
                                    416gr</button>
                                <p>890TL</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </article>
        </div>
    </main>
</body>

</html>